<p-card class="create-post">
  <ng-template #title>
    <h3>Post something...</h3>
  </ng-template>
  <section>
    <form [formGroup]="form" (submit)="onSubmit()">
      <textarea rows="5" pTextarea formControlName="description"></textarea>
      <div class="create-post-actions">
        <button pButton severity="secondary" type="button" [outlined]="true" (click)="onClear()">
          <i class="pi pi-trash" pButtonIcon></i>
          <span pButtonLabel>Clear</span>
        </button>
        <button pButton>
          <i class="pi pi-check" pButtonIcon type="submit"></i>
          <span pButtonLabel>Create Post</span>
        </button>
      </div>
    </form>
  </section>
</p-card>
